@import 'colors.scss';
@import 'mixins.scss';

.btn-container {
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    display: flex;
    padding: 8px 16px;
    border-radius: 4px;
    min-width: 64px;
    height: 36px;
    align-items: center;

    &.contained-btn {
        color: $color-font-secondary;
        @include background-opacity($color-secondary, 0.8);
    
        &:hover {
            @include background-opacity($color-secondary, 1);
        }
    }

    &.outlined-btn {
        border: 1px solid rgba($color-font-primary, 0.5);
    }

    &.text-btn {
        padding: 8px;
    }

    &.text-btn, &.outlined-btn {
        color: $color-secondary;
        @include background-opacity($color-primary-light, 0);

        &:hover {
            @include background-opacity($color-primary-light, 0.8);
        }
    }

    i {
        font-size: 24px;
        margin-right: 8px;
        margin-left: -8px;
    }
}
