@import 'colors.scss';
@import 'fonts.scss';

:host {
    display: flex;

    div.chip {
        display: flex;
        align-items: center;
        background: $color-primary;
        padding: 12px;
        height: 32px;
        border-radius: 16px;

        span.chip-label {
            font-size: 14px;
            font-weight: $font-weight-regular;
        }
    }
}
