<form>
    <mat-form-field>
        <mat-label>Clip Title</mat-label>
        <input name="clip-title" [(ngModel)]="editClipService.clipToEdit.title" matInput>
    </mat-form-field>
    <div class="youtube-info">
        <mat-checkbox name="upload-to-youtube" [(ngModel)]="editClipService.clipToEdit.uploadToYoutube">Upload to YouTube</mat-checkbox>
        <mat-radio-group class="fade-in-fast" name="youtube-privacy" [(ngModel)]="editClipService.clipToEdit.youtubeMetadata.privacy" *ngIf="editClipService.clipToEdit.uploadToYoutube">
            <mat-radio-button [value]="privacy" *ngFor="let privacy of youtubePrivacies">{{privacy}}</mat-radio-button>
        </mat-radio-group>
    </div>
</form>
<video [src]="editClipService.clipToEdit.inputPath | loadLocalFile"></video>
<app-trim-video-slider [duration]="editClipService.clipToEdit.durationMs"
                       (startAtChange)="startAtChangeHandler($event)"
                       (endAtChange)="endAtChangeHandler($event)">
</app-trim-video-slider>
<div class="buttons">
    <app-button outlined (clicked)="editClipService.closeEdit()">CANCEL</app-button>
    <app-button primary (clicked)="editClipService.save()">SAVE</app-button>
</div>
