@import 'colors.scss';
@import 'mixins.scss';

.fab-container {
    display: flex;
    border-radius: 24px;
    padding: 10px;
    padding-right: 20px;
    align-items: center;
    height: 48px;
    z-index: 1000;

    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    
    &.primary {
        background-color: $color-secondary-dark;
        color: $color-font-secondary;

        &:hover {
            background: $color-secondary;
        }
    }

    &.secondary {
        background: $color-primary;
        color: $color-secondary-light;

        &:hover {
            background: $color-primary-light;
        }
    }

    i {
        font-size: 24px;
        margin-right: 8px;
    }

    span {
        letter-spacing: 1px;
        font-size: 14px;
    }
}
