@import 'colors.scss';
@import 'mixins.scss';

:host {
    display: flex;
    border-radius: 24px;
    padding: 10px;
    padding-right: 20px;
    align-items: center;
    width: auto;

    cursor: pointer;
    transition: background-color 0.1s;
    
    &.primary {
        @include background-opacity($color-secondary, 0.8);
        color: $color-font-secondary;

        &:hover {
            background: $color-secondary;
        }
    }

    &.secondary {
        @include background-opacity($color-primary-light, 0.8);
        color: $color-secondary-light;

        &:hover {
            background: $color-primary-light;
        }
    }

    i {
        font-size: 24px;
        margin-right: 8px;
    }

    span {
        letter-spacing: 1px;
        font-size: 14px;
    }
}
