<div class="clip-card mat-ripple mat-elevation-z1"
     (click)="editClipService.editClip(clip)"
     #clip_card
     matRipple>
    <div class="title-container">
        <h6 class="title">{{clip.title}}</h6>
        <span class="sub-title">
            {{clip.duration}} &bull; {{clip.file.sizeMb}}MB &bull;
            <img class="youtube-logo" src="../../../assets/images/youtube_logo_light.svg" matTooltip="Will be uploaded to YouTube" *ngIf="clip.uploadToYoutube">
        </span>
    </div>
    <app-thumb-hover-preview [clip]="clip"></app-thumb-hover-preview>
    <div class="buttons">
        <app-button text *ngIf="!clip.exported">EXPORT</app-button>
    </div>
</div>

<div class="edit-clip-scrim scrim-fade-in"
     [class.scrim-fade-out]="!editClipService.showEdit"
     (click)="editClipService.closeEdit()"
     *ngIf="editClipService.renderEdit && editClipService.selectedClip === clip">
    <app-edit-clip [morphFrom]="clip_card" [morph]="editClipService.showEdit"></app-edit-clip>
</div>
