@import 'colors.scss';
@import 'fonts.scss';

.clip-card-container {
    width: 344px;
    height: 320px;
    overflow: visible;
}

.clip-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 4px;
    background: $color-primary;

    .title-container {
        .title {
            font-weight: $font-weight-semibold;
            font-size: 21px;

            &.title-unchanged {
                opacity: 0.6;
            }
        }

        .sub-title {
            display: flex;
            align-items: center;
            font-weight: $font-weight-regular;
            font-size: 13px;
            opacity: 0.8;

            .youtube-logo {
                height: 13px;
                margin-left: 4px;
            }
        }
    }

    app-thumb-hover-preview {
        margin: 16px -16px;
        width: 344px;
        height: 192px;
    }

    .buttons {
        display: flex;
        flex-direction: row-reverse;
        margin: -8px;
    }
}

.edit-clip-scrim {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    app-edit-clip {
        cursor: default;
    }
}
