@import 'colors.scss';
@import 'animations.scss';

:host {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-background;
    
    &.fade-out {
        animation: fade-out 0.5s ease-in-out;
        animation-fill-mode: forwards;
    }

    video {
        animation: fade-in 0.5s ease-in-out;
        width: 40%;
    }
}
