@import 'colors.scss';

:host {
    display: flex;
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
    -webkit-app-region: no-drag;

    transition: background 0.1s ease;

    background: $color-primary-variant;

    &:hover {
        transition: background 0.05s ease;
        background: rgba($color-on-background-variants, 0.1);
    }

    &:active {
        background: rgba($color-on-background-variants, 0.2);
    }

    i {
        color: $color-font-secondary;
    }

    &.icon-smaller {
        i {
            font-size: 20px;
        }
    }
}
