@import 'colors.scss';

:host {
    display: flex;
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
    -webkit-app-region: no-drag;

    transition: background 0.1s ease;

    background: $color-secondary;

    &.dark {
        background: rgba($color-secondary-dark, 0.5);

        &:hover {
            background: $color-secondary-dark;
        }
    }

    &:hover {
        transition: background 0.05s ease;
        background: rgba($color-secondary-dark, 0.5);
    }

    &:active, &.dark:active {
        background: rgba($color-primary, 0.5);
    }

    i {
        color: $color-font-secondary;
    }

    &.icon-smaller {
        i {
            font-size: 20px;
        }
    }
}
