<div class="video-card mat-ripple mat-elevation-z1" matRipple>
    <div class="title-container">
        <h6 class="title">{{clip.title}}</h6>
        <span class="sub-title">
            {{clip.duration}} &bull; {{clip.fileMetadata.sizeMb}}MB &bull;
            <img class="youtube-logo" src="../../../assets/images/youtube_logo_light.svg" matTooltip="Will be uploaded to YouTube" *ngIf="clip.uploadToYoutube">
        </span>
    </div>
    <video class="thumbnail"
           src="../../../assets/demo_clip.mp4"
           (mouseover)="thumbnailMouseover()"
           (mouseleave)="thumbnailMouseleave()"
           #clip_thumbnail>
    </video>
    <div class="buttons">
        <app-button text *ngIf="!clip.exported">EXPORT</app-button>
    </div>
</div>
