<div class="clips-container">
    <cliply-clip-card *ngFor="let clip of clipsService.clips$ | async"></cliply-clip-card>
    <div class="create-first-clip-container" *ngIf="!(clipsService.clips$ | async)?.length">
        <div class="create-first-clip interactable mat-ripple" matRipple>
            <div class="interactable-overlay"></div>
            <i class="material-icons create-first-clip-icon">add_circle_outline</i>
            <h3>Create your first clip</h3>
        </div>
    </div>
</div>

<div class="fabs-container">
    <button class="fab primary">
        <i class="material-icons"></i>
    </button>
</div>

<router-outlet name="clips-modal-router"></router-outlet>
