@import 'mixins.scss';

:host {
    display: flex;
    width: 100%;
}

.clips-container {
    width: 100%;
    display: flex;
}

.create-first-clip-container {
    @include flex-row("both");
    width: 100%;
    height: 100%;
}

.create-first-clip {
    @include card;
    @include flex-col("both");

    padding: 48px 64px;

    color: $color-primary;
}

.create-first-clip-icon {
    font-size: 8rem;
    margin-bottom: 16px;
}

.fabs-container {
    position: fixed;
    display: none;
}
