.App {
  --sizing-basis: 8px;

  --color-bg: #212623;

  --color-primary-accent: #71C38A;
  --color-primary-light: #ACD1B7;
  --color-primary-lighter: #DDF0E3;
  --color-primary-dark: #3C4C41;

  --color-secondary-accent: #E39E66;
  --color-secondary-light: #E2BD9F;
  --color-secondary-lighter: #F5E8DE;
  --color-secondary-dark: #5D4C3E;
}

.App, .App * {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  background: var(--color-bg);
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid: " title app  " 96px
        " body  body " auto
        / 2fr   1fr
        ;

  --gap: calc(var(--sizing-basis) * 2);
  padding: var(--gap);
  column-gap: var(--gap);
  row-gap: var(--gap);
}

.App .grid-title {
  grid-area: title;
}

.App .grid-body {
  grid-area: body;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button-demo {
  display: flex;
  flex-direction: column;
}

.button-demo > * {
  flex-grow: 0;
  width: max-content;
  margin-bottom: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
