/* You can add global styles to this file, and also import other style files */

@import 'colors.scss';
@import 'fonts.scss';
@import 'animations.scss';

//Property Declaration Order:
// Positioning
// Box-model
// Typography
// Visual
// Misc

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: $color-background;
    color: $color-font-primary;
    font-family: $font-family;
    font-weight: $font-weight-semibold;
    
    * {
        box-sizing: border-box;
        user-select: none;
    }
}

app-root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
    margin: 0;
}

h5, h6 {
    font-weight: $font-weight-semibold;
}

.mat-tooltip {
    font-family: $font-family !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
