@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@mixin fade-out($duration: 0.4s) {
    animation: fade-out $duration ease;
    animation-fill-mode: forwards;    
}

@mixin fade-in($duration: 0.4s) {
    animation: fade-in $duration ease;
    animation-fill-mode: forwards;
}

.fade-in {
    @include fade-in();
}
.fade-in-fast {
    @include fade-in(0.2s);
}

.fade-out {
    @include fade-out();
}
.fade-out-fast {
    @include fade-out(0.2s);
}

@keyframes scrim-fade-in {
    from { background-color: rgba(black, 0); }
    to { background-color: rgba(black, 0.5); }
}
@keyframes scrim-fade-out {
    from { background-color: rgba(black, 0.5); }
    to { background-color: rgba(black, 0); }
}

.scrim-fade-in {
    animation: scrim-fade-in 0.4s ease;
    animation-fill-mode: forwards;
}
.scrim-fade-out {
    animation: scrim-fade-out 0.4s ease;
    animation-fill-mode: forwards;
}
