$color-primary-light: #303030;
$color-primary-dark: #141414;

$color-secondary-light: #71ffca;
$color-secondary-dark: #009a6b;

$color-primary: #33cc99;
$color-primary-variant: #2d7c67;

$color-secondary: #24afc4;
$color-secondary-variant: #2e7794;

$color-tertiary: #BFBFBF;

$color-background: #1e1f24;
$color-background-variant: #282D33;

$color-on-background-variants: #e8e8e8;
$color-on-primary-secondary: $color-background;

$color-font-primary: $color-on-background-variants;
$color-font-secondary: $color-on-primary-secondary;
