$color-primary: #212121;
$color-primary-light: #2b2b2b;
$color-primary-dark: #141414;
$color-background: $color-primary-dark;

$color-secondary: #33cc99;
$color-secondary-light: #71ffca;
$color-secondary-dark: #009a6b;

$color-font-primary: #e0e0e0;
$color-font-secondary: $color-primary-dark;
