$color-primary: #33cc99;
$color-primary-variant: #399e65;

$color-secondary: #24afc4;
$color-secondary-variant: #2e7794;

$color-background: #1e1f24;
$color-background-variant: #24292e;

$color-font-light: #e8e8e8;
$color-font-dark: $color-background;
