@import 'colors.scss';
@import 'dimensions.scss';

@mixin background-opacity($color, $opacity) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin card {
    background: $color-background-variant;
    border-radius: $card-border-radius;
}

@mixin flex-row($center-along-axis: 'neither') {
    display: flex;

    @if $center-along-axis == 'x' or $center-along-axis == 'both' {
        justify-content: center;
    }

    @if $center-along-axis == 'y' or $center-along-axis == 'both' {
        align-items: center;
    }
}

@mixin flex-col($center-along-axis: 'neither') {
    display: flex;
    flex-direction: column;

    @if $center-along-axis == 'x' or $center-along-axis == 'both' {
        align-items: center;
    }

    @if $center-along-axis == 'y' or $center-along-axis == 'both' {
        justify-content: center;
    }
}
