@import 'colors.scss';

:host {
    height: 20px;
    padding-top: 6px;
    margin-top: 16px;
    display: flex;
    cursor: pointer;

    .runner.runner-unselected {
        position: relative;
        height: 4px;
        border-radius: 6px;
        margin-bottom: -2px;
        width: 100%;
        background: rgba($color-secondary-dark, 0.5);

        .active-runner-container {
            position: absolute;
            top: -1px;
            width: 100%;

            .runner-selected {
                width: calc(100% - 12px);
                margin-left: 6px;
                background: rgba($color-secondary-dark, 0.75);
                height: 6px;
            }
        }

        .progress-thumb-head, .progress-thumb-ghost {
            position: relative;
            height: 16px;
            width: 6px;
            border-radius: 2px;
            background: $color-secondary;
            z-index: 1;
            box-shadow: 0 0 16px -1px $color-primary;

            &.progress-thumb-ghost {
                position: absolute;
                background: rgba($color-secondary, 0.5);
                top: -6px;
            }
        }

        .thumb {
            position: absolute;
            left: 0;
            top: -6px;
            transition: transform 0.1s ease, opacity 0.1s ease;
            transform-origin: 50% 50%;
            opacity: 1;

            &.hidden {
                opacity: 0;
            }

            img.thumb-head {
                position: relative;
                height: 14px;
                -webkit-user-drag: none;
                filter: drop-shadow(4px 0px 6px rgba(black, 0.6));
                z-index: 2;

                &.left {
                    transform: rotate(180deg);
                }
            }

            &:active {
                transform: scale(1.2);
            }

            &.end-thumb {
                left: auto;
                right: 0;
            }

            &.progress-thumb {
                &:active {
                    transform: scale(1);
                }

                &.returning {
                    transition: opacity 0.1s ease, left 0.1s;
                }

                .thumb-label {
                    left: -20px;
                    bottom: 24px;
                }
            }

            .thumb-label {
                position: absolute;
                bottom: 26px;
                font-size: 12px;
                width: 48px;
                left: -18px;
                text-align: center;
                color: $color-font-secondary;
                background: $color-secondary;
                padding: 4px 6px;
                border-radius: 4px;
                transition: opacity 0.2s ease;

                .thumb-label-text {
                    position: relative;
                    z-index: 2;
                }

                .thumb-label-triangle {
                    display: none;
                    position: absolute;
                    top: auto;
                    bottom: -2px;
                    left: 50%;
                    z-index: 1;

                    background: $color-secondary;
                    width: 16px;
                    height: 16px;
                    border-radius: 4px;
                    transform-origin: 50% 50%;
                    transform: translateX(-50%) rotate(45deg);
                }
            }
        }
    }

    .drag-ghost {
        display: none;
    }
}
