@import 'colors.scss';

:host {
    margin-top: 12px;
    display: flex;

    .runner.runner-inactive {
        position: relative;
        height: 4px;
        border-radius: 6px;
        margin-bottom: -2px;
        width: 100%;
        background: rgba($color-secondary-dark, 0.5);

        .active-runner-container {
            position: absolute;
            top: -1px;
            width: 100%;

            .runner-active {
                width: calc(100% - 12px);
                margin-left: 6px;
                background: $color-secondary-dark;
                height: 6px;
            }
        }

        .thumb {
            position: absolute;
            left: 0;
            top: -4px;
            height: 12px;
            width: 12px;
            border-radius: 100%;
            background: $color-secondary;
            cursor: pointer;
            transition: transform 0.1s ease;
            transform-origin: 50% 50%;

            &:active {
                transform: scale(1.2);
            }

            &.end-thumb {
                left: auto;
                right: 0;
            }

            .thumb-label {
                position: absolute;
                bottom: 20px;
                font-size: 10px;
                width: 40px;
                left: -14px;
                text-align: center;
                color: $color-font-secondary;
                background: $color-secondary;
                padding: 4px 6px;
                border-radius: 4px;
                transition: opacity 0.2s ease;

                .thumb-label-text {
                    position: relative;
                    z-index: 2;
                }

                .thumb-label-triangle {
                    position: absolute;
                    top: auto;
                    bottom: -2px;
                    left: 50%;
                    z-index: 1;

                    background: $color-secondary;
                    width: 16px;
                    height: 16px;
                    border-radius: 4px;
                    transform-origin: 50% 50%;
                    transform: translateX(-50%) rotate(45deg);
                }

                &.active {
                    @keyframes float { from { transform: translateY(0px); } to { transform: translateY(-5px); } }
                    animation-name: float;
                    animation-duration: 0.5s;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                }
            }
        }
    }

    .drag-ghost {
        display: none;
    }
}
