@import 'animations.scss';

:host {
    width: 100%;

    .clips {
        display: flex;
        flex-wrap: wrap;
        padding: 16px;

        app-clip-card {
            margin-right: 16px;
            margin-bottom: 16px;
        }
    }
}
