:host {
    width: 100%;
    
    .clips {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-content: start;
        padding: 16px;
        height: 100%;

        app-clip-card {
            margin-right: 16px;
            margin-bottom: 16px;
        }
    }
}
